.audience {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px 4px;
}

.avatar {
  border-radius: 100%;
  margin-bottom: 8px;
}

.id {
  color: #fff;
  font-size: 16px;
  max-width: 100%;
  overflow: scroll;
}
