.twitterAccount {
  width: 358px;
  height: 129px;
  position: relative;
  margin-bottom: 50px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  border-radius: 8px;
}

.avatar {
  position: absolute;
  bottom: -36px;
  left: 8px;
  z-index: 1;

  border-radius: 100%;
}

.name {
  position: absolute;

  color: #1da1f2;

  bottom: -24px;
  left: 96px;
}
